body {
    background-color: #F6F2FF;
    text-align: center;
    line-height: 20px;
}
@media only screen and (min-width: 375px)
{
    .top-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;

        position: absolute;
        width: 321px;
        height: 160px;
        left: calc(50% - 321px/2);
        top: 94px;
    }

    .heading {
        width: 283px;
        height: 108px;
    }

    .snapchat {
        position: absolute;
        width: 163px;
        height: 41px;
        left: 79px;
        top: 34px;

        font-weight: 700;
        font-size: 36px;
        line-height: 41px;
        text-align: center;

        background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .host-share {
        position: absolute;
        top: 120px;
        width: 321px;
        height: 36px;

        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        text-align: center;

        color: #4F4F4F;
    }

    .imagine {
        position: absolute;
        width: 283px;
        height: 108px;
        left: 19px;
        top: 0px;

        font-weight: 700;
        font-size: 36px;
        line-height: 36px;

        /* or 100% */
        text-align: center;

        color: #240D57;
    }

    .imagine2 {
        position: absolute;
    width: 283px;
    height: 108px;
    left: 19px;
    top: 70px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;

    /* or 100% */
    text-align: center;

    color: #240D57;
    }

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 10px;
        position: absolute;
        width: 187px;
        height: 50px;
        left: calc(50% - 187px / 2);
        top: 616px;
        background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
        border-radius: 10px;
        color: #FFFFFF;
    }

    h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .movie-image {
        position: absolute;
        width: 165.63px;
        height: 292px;
        left: calc(50% - 165.63px/2 + 0.32px);
        top: 290px;

        filter: drop-shadow(0px 0px 17.6435px rgba(0, 0, 0, 0.05));
        border-radius: 13.2326px;
    }
}

@media only screen and (max-width: 960px) 
{
    .top-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;

        position: absolute;
        width: 321px;
        height: 160px;
        left: calc(50% - 321px/2);
        top: 94px;
    }
}

@media screen and (min-width: 1512px) 
{
    .top-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0px;
        gap: 16px;

        position: absolute;
        width: 574px;
        height: 264px;
        left: calc(50% - 574px/2 + 309px);
        top: 306px;
    }

    .heading {
        width: 574px;
        height: 192px;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .snapchat {
        position: absolute;
        width: 295px;
        height: 74px;
        left: 279px;
        top: 59px;

        font-weight: 700;
        font-size: 64px;
        line-height: 74px;

        /* identical to box height */
        text-align: right;

        background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .imagine {
        position: absolute;
        width: 573.91px;
        height: 192px;
        left: 0px;
        top: 0px;

        font-weight: 700;
        font-size: 64px;
        line-height: 64px;

        /* or 100% */
        text-align: right;

        color: #240D57;
    }

    .imagine2 {
        position: absolute;
        width: 573.91px;
        height: 192px;
        left: 0px;
        top: 120px;

        font-weight: 700;
        font-size: 64px;
        line-height: 64px;

        /* or 100% */
        text-align: right;

        color: #240D57;
    }

    .host-share {
        position: absolute;
        width: 521px;
        height: 56px;
        top: 180px;

        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: right;

        color: #4F4F4F;
    }

    .movie-image {
        position: absolute;
        width: 440px;
        height: 775.69px;
        left: calc(50% - 440px/2 - 366px);
        top: 100px;

        filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
        border-radius: 35.1522px;
    }

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 10px;

        position: absolute;
        width: 320px;
        height: 55px;
        left: 1030px;
        top: 600px;

        background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
        border-radius: 10px;
    }

}